{% extends "base.html" %}

{% block main %}
    <h2 class = "mb-3">Add Profile</h2>
    
    {% include 'flash_messages.html' %} 

    <form action method='POST' enctype="multipart/form-data" class = "w-50 h-75 bg-white rounded btop">
        {{ form.csrf_token}}
        <div class="ml-4 mb-1 font-weight-bold">
            <div>
                {{ form.first_name.label('First Name')}}
                {{ form.first_name(class="rounded_input" )}}
            </div>
            
            <div>
                {{ form.last_name.label('Last Name')}} 
                {{form.last_name(class = "rounded_input")}}
            </div>
            
            <div>
                {{ form.gender.label('Gender')}} 
                {{ form.gender(class = "rounded_input", placeholder = 'Select Gender')}}
            </div>
            
            <div>
                {{ form.email.label('Email')}} 
                {{ form.email(class = "rounded_input", placeholder = 'eg. jdoe@example.com')}}
            </div>
            
            <div>
                {{ form.location.label('Location')}} 
                {{ form.location(class = "rounded_input", placeholder = 'eg. Kingston, Jamaica')}}
            </div>
            
        
            <div>
                {{ form.bio.label('Biography')}} 
                {{form.bio(class = "rounded_input", id = 'bio', placeholder= "Maximum 150 characters")}}
            </div>
            <div>
                {{ form.photo.label('Profile Picture')}}
                {{form.photo(class = "rounded_input", id = 'photo' )}}
            </div>

            <button class="btn btn-green w-25 h-20 mt-2 mb-3 ml-2 text-white font-weight-bold " id='submitButton' type="submit">Add Profile</button>
        </div>
    </form>

{% endblock  %}
